<%= form_with model: transaction do |form| %>
  <div>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
    <% transaction.errors.full_messages_for(:amount).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %> <%= "(yyyy-mm-dd)" %> <br>
    <%= form.text_area :date %>
    <% transaction.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% transaction.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :bank_id %><br>
    <%= form.select :bank_id, options_for_select(Bank.all.map{|bank|[bank.name, bank.id]}) %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>