<h1>Amount : <%= @transaction.amount %></h1>
<h1>Date : <%= @transaction.date %></h1>
<h1>Description : <%= @transaction.description %></h1>
<h1>Bank : <%= @bank.name %> </h1>

<ul>
  <li><%= link_to "Edit Transaction", edit_transaction_path(@transaction) %></li><br>

  <li><%= link_to "Delete Transaction", transaction_path(@transaction),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li><br>

  <li><%= link_to "Go back to account", account_path(@transaction.account_id) %></li><br>

</ul>

